
/* body {
  min-width: 400px;
  min-height: 400px;
  height: 100vh;
  cursor: none ;
} */

/* .cursor {
  width: 15px;
    height: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background-color: dodgerblue;
} */

.title {
  text-align: center;
  margin: 1px;
  margin-top: 0px;
}

button {
    height: 100px;
    width: 100px;
    outline: none;
    margin: 4px;
    border: none;
    border-radius: 2px;
    /* background: url(./images/purple2.png); */
    /* background-repeat: no-repeat;
    background-size: 100px; */
  }

/* .image{
  display: flex;
} */

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

button:hover {
  background-color: rgb(236, 236, 236);
}

button:active {
  background-color: rgb(170, 170, 170);
}